# SPDX-License-Identifier: GPL-2.0
#
# huawei power common drivers
#

source "drivers/hwpower/cc_isolation/Kconfig"
source "drivers/hwpower/cc_common_module/Kconfig"
source "drivers/hwpower/cc_protocol/Kconfig"
source "drivers/hwpower/cc_coul/Kconfig"
source "drivers/hwpower/cc_hardware_ic/Kconfig"
source "drivers/hwpower/cc_hardware_monitor/Kconfig"
source "drivers/hwpower/cc_hardware_channel/Kconfig"
source "drivers/hwpower/cc_battery/Kconfig"
source "drivers/hwpower/cc_charger/Kconfig"
source "drivers/hwpower/cc_accessory/Kconfig"
