# SPDX-License-Identifier: GPL-2.0
source "drivers/huawei_platform/hwpower/proxy/Kconfig"
source "drivers/huawei_platform/hwpower/glink/Kconfig"
source "drivers/huawei_platform/hwpower/hardware_ic/Kconfig"
